.bg-box {
  width: 1000px;
  height: 600px;
  margin: 0 auto;


  background-color: #2f7d1f;


  background-image: 
    url("https://www.freeiconspng.com/uploads/lamp-png-0.png"),
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru"),
    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png"),
    url("https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png"),
    url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");

  background-repeat: repeat-x, repeat-y, repeat-y, repeat-x, no-repeat;
  background-position: top, left top, right top, bottom, center;
  background-size: 60px, 40px, 40px, 300px, 500px;
}